@font-face
{
	font-family: helvNeue;
	src: url(HelveticaNeue.ttf);
}

@font-face
{
font-family: helvNeue;
src: url(HelveticaNeue-Bold.ttf);
font-weight:bold;
}

@font-face
{
	font-family: helvNeueCB;
	src: url(HelveticaNeue-CondensedBold.ttf);
}
body{
	font-family: helvNeue;
	background-color: #DDD;
	text-align: center;
	width: 100%;
	min-height: 100vh;
	margin: 0px;
}

h1{
	font-family: helvNeueCB;
	font-weight: bolder;
	font-size: 50pt;
	margin-bottom: -22px;
}

h2{
		line-height: 1pt;
		font-size: 36pt;
		margin-bottom: 50px;
}

h3{
		line-height: 1.5pt;
		font-size: 30pt;
		margin-bottom: 50px;
}

#header{
	height: 100px;	
	width: 100%;
	background-color: #ccc;
	box-shadow: 0px 4px 4px #999;
	position: fixed;
	z-index: 1;
}

#header_logo{
	float: left;
}

#header_access{
	float: right;
}

#main{
	background-image: url(http://fc03.deviantart.net/fs48/i/2009/179/c/7/Bridge_to_UCSC_McHenry_Library_by_msl911.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
	height: 100%;
	padding-top: 150px;
	color: #bbb;
	text-shadow: 3px 2px 4px #222;
}

#main_count{
	color: #333;
	text-shadow: 3px 2px 4px #bbb;
	background-color: #ccc;
	width: 350px;
	margin-left: 35%;
	opacity: 0.9;
	padding: 10px;
	border:0px solid;
	border-radius:20px;
	font-size: 13pt;
	box-shadow: 0px 4px 4px #999;
}

.main_count_img{
	width:66px;
}

#main_count table{
	text-align: center;
	font-size: 20pt;
	color: #333;
}

#main_login{
	position: absolute;
	background-color: gray;
	left: 35%;
	top: 10%;
	width: 300px;
	opacity: 0.95;
	z-index: 1;
	display:none;
	
}

#header_add_project{
	position: absolute;
	background-color: gray;
	left: 35%;
	top: 10%;
	width: 300px;
	opacity: 0.95;
	z-index: 1;
	display:none;
	
}


#main_login_form{
	padding: 10px;	
}

#main_login_form_header{
	margin: -10px -10px 10px -10px;
	padding: 5px;
	background-color: #333;
}

#main_login_form_footer{
	margin: 10px -10px -26px -10px;
	padding: 10px 30px 5px 30px;
	background-color: #333;
}

#main_register_form{
	display: none;
}

#add_project_form{
color: #bbb;
	text-shadow: 3px 2px 4px #222;
}

#header_add_form_header{
	margin: -10px 0px 10px 0px;
	padding: 5px;
	background-color: #333;
}

#header_add_form_footer{
	margin: 15px 0px;
	padding: 10px 30px 5px 30px;
	background-color: #333;
}

.large_input{
	width: 95%;
	font-size: 12pt;
	padding: 3px;
	text-align: center;
	margin: 0px 0px 5px 0px;
}

#main_content{
	width: 80%;
	height: 100%;
	margin-left: 10%;
	margin-top: -50px;
	padding: 50px 10px 10px 10px;
	background-color: #333;
	opacity: 0.95;
	z-index: -1;
}

#main_content h3{
	font-size: 24pt;
	margin-top: 17px;
	margin-bottom: 10px;	
}

.main_content_text{
	margin: 0px 5px 5px 5px;
	color: #BBB;
	width: 100%;
}

#main_content img{
	margin: 6px;
	height: 80px;
}

.main_content_row{
	background-color: gray;
	border-radius: 5px;
	color: #333;
	margin-bottom: 20px;
}

.project_btn {
	float: right;
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}

.project_btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}

.project_btn:active {
	position:relative;
	top:1px;
}
.main_content_table{
	width: 99%;
}

#main_content_project{
	width: 80%;
	height: 100%;
	margin-left: 10%;
	margin-top: -50px;
	padding: 50px 10px 10px 10px;
	background-color: #333;
	opacity: 0.95;
	z-index: -1;
}

.project_title{
	width: 100%;
}

#project_content_whosin{
	float:left;
}

#project_content_footer{
	float: right;
	width: 40%;
}

#project_content_footer table{
	text-align: center;
	font-size: 20pt;
	color: #CCC;
	margin: 0 auto;
}

#main_project_wrapper{
	padding:0% 10%;
	width: 80%;
	text-align: justify;
}
.project_content_img{
	width: 50px;
}